<!-- frontend/src/app/app.component.html-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <i class="fas fa-code me-2"></i>CodeBuddy
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto" *ngIf="authService.isLoggedIn()">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/topics" routerLinkActive="active">Topics</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/whiteboard" routerLinkActive="active">Whiteboard</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/voice-interview" routerLinkActive="active">Voice Interview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/flashcards" routerLinkActive="active">Flashcards</a> 
        </li>
      </ul>
      
      <ul class="navbar-nav" *ngIf="!authService.isLoggedIn()">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
      </ul>
      
      <ul class="navbar-nav" *ngIf="authService.isLoggedIn()">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
            <i class="fas fa-user me-1"></i> {{authService.getUsername()}}
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" (click)="logout(); $event.preventDefault()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid mt-3">
  <router-outlet></router-outlet>
</div>